.head{
    font-weight: 700;
    text-align: center;
}
.switch-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    max-width: 450px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    border: none;
}

.switch-handle {

    height: 50px;
    transition: left 0.3s ease-in-out;
    position: absolute; /* Butonların üzerine yerleştirmek için */
    top: 9px;
    left: 15px;
    border-radius: 20px;
}

.switch-container.active .switch-handle {
    transform: translateX(100%);
}

.switch-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.switch-container.active .left-button {
    color: white;
}

.switch-container.active .right-button {
    color: white;
}

.button-container {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 2s ease-in-out;
}



/* isActive false olduğunda butonu hareket ettirme */
input:focus ~ .button-container {
    transform: translateX(100%); /* Butonu input'un yanına kaydırır */
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(0);

    }
    to {
        transform: translateX(0);

    }
}

.slideInFromLeft {
    animation-name: slideInFromLeft;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}


/*  mobil hamburger menü için css  */

input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.bar{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bar .top{
    bottom: 5px;
    height: 4px;
    width: 30px;
    border-radius: 30px;
    position: absolute;
    transition: 0.3s ease;
}
.bar .bottom{
    top: 7px;
    bottom: 14px;
    height: 4px;
    width: 30px;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}
input[type="checkbox"]:checked ~ .bar .top{
    transform: rotate(-52deg);
    width: 25px;
    transform-origin: right;
    top: -10px;
    margin-right: 12px;
}
input[type="checkbox"]:checked ~ .bar .bottom{
    transform: rotate(52deg);
    width: 25px;
    transform-origin: right;
    top: 10px;
    margin-right: 12px;
}


@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-animation {
    animation: slideDown 0.3s ease-in-out forwards;

}
