/* Varsayılan stil */
#share-screen .videoPlayer {
  object-fit: cover;
  width: 98%;
  position: absolute;
  left: 16;
  top: 16;
  height: 33vh;
}
#share-screen .videoPlayer.large {
  object-fit: cover;
  width: 98%;
  position: absolute;
  left: 16;
  top: 16;
  height: 85vh !important;
}
#share-screen .videoPlayer div {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
#usersContainer .videoPlayer div {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
@media only screen and (max-width: 768px) {
  #share-screen .videoPlayer.large {
    height: 29vh !important;
  }
}
