::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}
.agendaCardSwiper tr:first-child td {
  border-top: 0;
}
.activeCategory {
  border-color: hsl(7, 90%, 64%);
  color: hsl(7, 90%, 64%);
}
.agendaCardSwiper tr:last-child td {
  border-bottom: 0;
}
@media (max-width: 768px) {
  .agendaCardSwiper .swiper-pagination {
    height: 10px;
  }
  .agendaCardSwiper .swiper-slide {
    height: auto;
  }
}
