.birthDay input[type="date"]:before{
    content: 'Doğrum Tarihi:';
    position: absolute;
    top: 52%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: #b1babf;
    font-size: 1rem;
  }

  .birthDay input[type="date"] {
    padding-left: 7.5rem; 
  }  