.react-calendar {
  border: none;
}
.appointmentTimes .swiper {
  height: 12rem;
}
@media only screen and (max-width: 768px) {
  .appointmentTimes .swiper {
    height: 6rem;
    width: 20rem;
    margin-bottom: 10px;
  }
  .swiper-wrapper {
    margin-bottom: 20px;
  }
}
