.downloadLink {
    position: absolute; 
    top: 5px; 
    left: 5px; 
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; 
    padding: 1px;
    border-radius: 5px; 
    text-decoration: none;
    cursor: pointer;
  }
  .downloadLink:hover{
    color:#dc2626 ;
    opacity: 0.9;
  }
.closeImage{
    position: absolute; 
    top: 5px; 
    right: 5px; 
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; 
    padding: 2px;
    border-radius: 5px; 
    font-size: 9px;
    cursor: pointer;
}
