.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 50vh;
    
}
.box{
    max-width: 500px;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.uploadAreatitle{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #a5a5a5;
    
}
.uploadLabel{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed hsl(7, 90%, 64%);
    cursor: pointer;
}
.uploadIcon{
    font-size: 70px;
    color: hsl(7, 90%, 64%);
}

.uploaded{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}
.showFileBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;
}
.left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.fileType{
    background: #18a7ff;
    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.leftText{
    font-weight: 600;
    font-size: 18px;
    color: #a5a5a5;
    margin: 0;
}
.rightSpan{
    background: hsl(7, 90%, 64%);
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.right{
    display: flex;
    
}