.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed hsl(7, 90%, 64%);
    height: 300px;
    cursor: pointer;
    border-radius: 5px;
}
.delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
  
  
 
  

