/* styles.module.css */
.modal-bg-enter {
    opacity: 0;
  }
  
  .modal-bg-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .modal-bg-exit {
    opacity: 1;
  }
  
  .modal-bg-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
/* styles.module.css */
.modal-enter {
    transform: translateY(-100%);
  }
  
  .modal-enter-active {
    transform: translateY(0);
    transition: transform 300ms ease-in;
  }
  
  .modal-exit {
    transform: translateY(0);
  }
  
  .modal-exit-active {
    transform: translateY(-100%);
    transition: transform 300ms ease-in;
  }
  .contactsContainer {
    max-height: 200px;
    overflow-y: auto;
    width: 80%; 
    background-color: #e5e7eb;
  }

  

  
  