@tailwind base;
@tailwind components;
@tailwind utilities;
@import "theme.css";

@layer base {
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @apply
    select-none
  }
  body {
    @apply bg-background text-foreground scroll-smooth overflow-x-hidden font-sans;
  }
}

img {
  pointer-events: none;
}
