@tailwind base;
@tailwind components;
@tailwind utilities;
@import "theme.css";

@layer base {
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @apply select-none;
  }
  body {
    @apply bg-background text-foreground scroll-smooth overflow-x-hidden font-sans;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
}
.live-chat {
  position: relative;
  top: 0;
  right: -100%; /* Initially off-screen */
  width: 400px; /* Adjust width as per your design */
  height: 100%;
  background-color: white;
  transition: right 0.5s ease-in-out; /* Smooth transition for right property */
  z-index: 100;
}

.live-chat.open {
  right: 0; /* Slide in from the right */
}
#share-screen1 .videoPlayer.smallView {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  height: 26vh !important;
  position: absolute;
  border-radius: 0;
  left: 0;
  top: 0;
}
#share-screen1 .videoPlayer.bigView {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  height: 85vh !important;
  position: absolute;
  border-radius: 0;
  left: 0;
  top: 0;
}

#share-screen .videoPlayer.smallView {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  height: 26vh !important;
  position: absolute;
  border-radius: 0;
  left: 0;
  top: 0;
}
#share-screen .videoPlayer.bigView {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  height: 85vh !important;
  position: absolute;
  border-radius: 0;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 768px) {
  #share-screen .videoPlayer {
    margin-top: 10vh;
    height: 80vh !important;
  }
}

img {
  pointer-events: none;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  border-radius: 10px; /* Add border radius */
}

::-webkit-scrollbar-track {
  background-color: #f1f2f6; /* Change to your desired gray color */
  border-radius: 10px; /* Add border radius */
}

::-webkit-scrollbar-thumb {
  background-color: #f1f2f6; /* Change to your desired gray color */
  border-radius: 8px; /* Add border radius */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f1f2f6; /* Change to your desired gray color on hover */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e3e5e9 #ffffff;
}

*::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

*::-webkit-scrollbar-track {
  background-color: #ccc; /* Change to your desired gray color */
  border-radius: 8px; /* Add border radius */
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Change to your desired gray color */
  border-radius: 8px; /* Add border radius */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #808080; /* Change to your desired gray color on hover */
}
.userBoxForCam {
  background-image: url("../assets/icons/profile.png");
  background-size: 5vw;
  background-position: center; /* Ensures the image is centered */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
